/* common styles */
 @font-face {
    font-family:'Glyphicons';
    src: url('../fonts/glyphicons-regular.eot');
    src: url('../fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-regular.woff') format('woff'), url('../fonts/glyphicons-regular.ttf') format('truetype'), url('../fonts/glyphicons-regular.svg#glyphicons_socialregular') format('svg');
}

.glyphicon-all {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family:'Glyphicons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-snowflake:before {
    content:"\2744";
}

.navbar-brand > .glyphicon-snowflake {
	line-height: 20px;
    color: #00aff0;
}

body {
    padding-top: 50px;
    font-size: 14px;
}

ul, ol {
    list-style-type: none;
}

section {
    border-top: 5px solid #eee;
    padding: 60px 0;
}

section h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 45px;
}

figure {
    text-align: center;
}

figcaption {
    margin: 10px 0;
}

blockquote {
    font-size: 20px;
}

/* brief intro */
#brief-intro ul li {
    min-height: 360px;
    padding-top: 300px;
    text-align: center;
}

.intro-1 {
    background: url(../images/intro-website.jpg) no-repeat top center;
}

.intro-2 {
    background: url(../images/intro-expert.jpg) no-repeat top center;
}

.intro-3 {
    background: url(../images/intro-brain.jpg) no-repeat top center;
}

/* services */
#service-list figure h2 {
    font-size: 24px;
}

#service-list p {
    margin-top: 30px;
}

/* benefit */
.benefit {
    padding: 40px 0;
    border-bottom: 1px solid #eee;
}

.benefit:nth-child(4) {
    border-bottom: none;
}

.benefit-1 {
    min-height: 600px;
    background: url(../images/superman.jpg) no-repeat bottom center;
}

.benefit-2 {
    min-height: 640px;
    background: url(../images/responsive.png) no-repeat bottom center;
}

.benefit-4 {
    min-height: 500px;
    background: url(../images/focus.jpg) no-repeat bottom center;
    background-size: 550px;
}

.benefit > .description {
    padding-left: 120px;
    min-height: 150px;
}

.benefit-1 > .description {
    background: url(../images/number-1.jpg) no-repeat;
}

.benefit-2 > .description {
    background: url(../images/number-2.jpg) no-repeat;
}

.benefit-3 > .description {
    background: url(../images/number-3.jpg) no-repeat;
}

.benefit-4 > .description {
    background: url(../images/number-4.jpg) no-repeat;
}

/* additional styles for "benefit 3" */
.plugins > li {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 200px;
}

.plugin-1 {
    background: url(../images/plugins/feature-wufoo.png) no-repeat top center;
}

.plugin-2 {
    background: url(../images/plugins/feature-animation-slider.png) no-repeat top center;
}

.plugin-3 {
    background: url(../images/plugins/feature-htmlcss.png) no-repeat top center;
}

.plugin-4 {
    background: url(../images/plugins/feature-slider.png) no-repeat top center;
}

.plugin-5 {
    background: url(../images/plugins/feature-parallax.png) no-repeat top center;
}

.plugin-6 {
    background: url(../images/plugins/feature-filter.png) no-repeat top center;
}

.plugin-7 {
    background: url(../images/plugins/feature-column.png) no-repeat top center;
}

.plugin-8 {
    background: url(../images/plugins/feature-lightbox.png) no-repeat top center;
}

.plugin-9 {
    background: url(../images/plugins/feature-tabs.png) no-repeat top center;
}

.plugin-10 {
    background: url(../images/plugins/feature-nav.png) no-repeat top center;
}

.plugin-11 {
    background: url(../images/plugins/feature-table.png) no-repeat top center;
}

.plugin-12 {
    background: url(../images/plugins/feature-bilingual.png) no-repeat top center;
}

.plugin-13 {
    background: url(../images/plugins/feature-gallery.png) no-repeat top center;
}

.plugin-14 {
    background: url(../images/plugins/feature-album.png) no-repeat top center;
}

/* contact info */
#contact-info ul li {
    padding-top: 170px;
    margin-bottom: 20px;
    text-align: center;
}

#contact-info .email {
    background: url(../images/icon-email.png) no-repeat top center;
}

#contact-info .facebook {
    background: url(../images/icon-facebook.png) no-repeat top center;
}

#contact-info .twitter {
    background: url(../images/icon-twitter.png) no-repeat top center;
}

#contact-info .skype {
    background: url(../images/icon-skype.png) no-repeat top center;
}

/* footer */
footer {
    text-align: center;
    background: #666;
    color: #999;
    padding: 8px 0;
    font-size: 12px;
}

footer a {
    color: #ccc;
}

@media (min-width: 768px) {
    .plugins > li {
        background-size: auto 160px;
        padding-top: 160px;
    }
}

@media (min-width: 992px) {
    .plugins > li {
        background-size: auto 140px;
        padding-top: 150px;
    }

    .benefit {
        min-height: 500px;
    }

    .benefit-1 {
        background: url(../images/superman.jpg) no-repeat right;
    }

    .benefit-2 {
        background: url(../images/responsive.png) no-repeat right;
    }

    .benefit-4 {
        min-height: 400px;
        background: url(../images/focus.jpg) no-repeat right;
        background-size: 480px;
    }
}
